$font-Open-Sans: 'Open Sans', sans-serif;
$font-Halvetica: Halvetica, sans-serif;


:root{
    --color-primary: #E23744;
    --color-white: #fff;
    --color-black: #000;
    --color-secondary: #2D2D2D;
    --color-tertiary: #F4F4F2;
}